<section class="bg-swiss-ink">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h2 class="mb-4 text-4xl tracking-normal font-extrabold leading-tight text-white">Start your free trial today</h2>
      <p class="mb-6 font-light text-swiss-offwhite md:text-lg">Try Flowbite Platform for 30 days. No credit card required.</p>
      <a href="#" class="text-swiss-ink bg-swiss-yellow hover:bg-swiss-yellow-light focus:ring-4 focus:ring-swiss-yellow-light font-medium rounded-none text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">Free trial for 30 days</a>
    </div>
  </div>
</section>
